/* posts/static/posts/styles.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #fef9c3
}

header {
  background-color: #fde047;
  padding: 10px;
}

li {
    background-color: #fff9a6;
    padding: 10px;
    margin: 10px;
    list-style: none;
}
